ZTRACE_ECDEBUG = 72
ZTRACE_PATH = $(inherited)_72

// --------------------------------------------------------------------------
//  Copyright 2017 Elegant Chaos Limited. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

#include "ECShared.xcconfig"

// --------------------------------------------------------------------------
// Build Options
// --------------------------------------------------------------------------

ENABLE_NS_ASSERTIONS = YES
GCC_TREAT_WARNINGS_AS_ERRORS = NO

// --------------------------------------------------------------------------
// Code Generation
// --------------------------------------------------------------------------

GCC_OPTIMIZATION_LEVEL = 0

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

COPY_PHASE_STRIP = NO

ECDEBUGCONFIG=YES

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 BC_DEBUG=1 $(inherited)

// --------------------------------------------------------------------------
// Signing
// --------------------------------------------------------------------------

OTHER_CODE_SIGN_FLAGS = --timestamp=none // don't timestamp for debug builds (it needs a net connection, which we might not have)
