// --------------------------------------------------------------------------
//  Copyright 2014 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

#include "ECShared.xcconfig"

// --------------------------------------------------------------------------
// Build Options
// --------------------------------------------------------------------------

RUN_CLANG_STATIC_ANALYZER = YES

// --------------------------------------------------------------------------
// Architectures
// --------------------------------------------------------------------------

ONLY_ACTIVE_ARCH = YES

// --------------------------------------------------------------------------
// Code Generation
// --------------------------------------------------------------------------

GCC_OPTIMIZATION_LEVEL = 0

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

COPY_PHASE_STRIP = NO

ECDEBUGCONFIG=YES

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)

// --------------------------------------------------------------------------
// Signing
// --------------------------------------------------------------------------

OTHER_CODE_SIGN_FLAGS = --timestamp=none // don't timestamp for debug builds (it needs a net connection, which we might not have)
