// --------------------------------------------------------------------------
//  Copyright 2014 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 6.0
ARCHS = $(ARCHS_STANDARD)
VALID_ARCHS = $(ARCHS_STANDARD)
SUPPORTED_PLATFORMS = iphonesimulator iphoneos


UNIT_TEST_FRAMEWORK_PATH = $(SDKROOT)/Developer/Library/Frameworks
