ZTRACE_ECLOGGINGMACSHAREDFRAMEWORK = 33
ZTRACE_PATH = $(inherited)_33

// --------------------------------------------------------------------------
//  Copyright 2017 Elegant Chaos Limited. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

#include "ECLoggingShared.xcconfig"

MODULEMAP_FILE = Source/$(PRODUCT_NAME)Framework.modulemap
