// --------------------------------------------------------------------------
//  Copyright 2017 Elegant Chaos Limited. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

// Defaults for standard definitions needed to link a command line application on the Mac

INSTALL_PATH = /usr/local/bin

OTHER_LDFLAGS = -ObjC -sectcreate __TEXT __info_plist $(INFOPLIST_FILE)

