ZTRACE_ECMACAPPLICATION = 78
ZTRACE_PATH = $(inherited)_78

// --------------------------------------------------------------------------
//  Copyright 2017 Elegant Chaos Limited. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

// Defaults for standard definitions needed to link an application on the Mac

WRAPPER_EXTENSION = app
INSTALL_PATH = $(HOME)/Applications
OTHER_LDFLAGS = -ObjC

// --------------------------------------------------------------------------
// Swift
// --------------------------------------------------------------------------

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES;
