// --------------------------------------------------------------------------
//  Copyright 2017 Elegant Chaos Limited. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

#include "ECDebug.xcconfig"
#include "ECMacShared.xcconfig"

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

COPY_PHASE_STRIP = NO

// --------------------------------------------------------------------------
// GCC 4.2 Code Generation
// --------------------------------------------------------------------------

GCC_ENABLE_FIX_AND_CONTINUE = YES
GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0
