// --------------------------------------------------------------------------
//  Copyright 2014 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Architectures
// Default to 64-bit only with the latest SDK, deploying on Lion.
// --------------------------------------------------------------------------

SDKROOT = macosx
ARCHS = $(ARCHS_STANDARD_64_BIT)
MACOSX_DEPLOYMENT_TARGET = 10.7
COMBINE_HIDPI_IMAGES = YES
