// --------------------------------------------------------------------------
//  Copyright 2017 Elegant Chaos Limited. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

// Contains standard definitions needed to link a bundle-style target as a pseudo-framework on iOS

FRAMEWORK_VERSION=A
PRODUCT_NAME=$(PROJECT_NAME)
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
SKIP_INSTALL = YES
LINK_WITH_STANDARD_LIBRARIES = NO
MACH_O_TYPE = mh_object
OTHER_LDFLAGS = -ObjC
EXECUTABLE_PREFIX = Versions/$(FRAMEWORK_VERSION)/
PUBLIC_HEADERS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/Versions/A/Headers
WRAPPER_EXTENSION = framework
VERSION_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/Versions/$(FRAMEWORK_VERSION)
RESOURCES_FOLDER_PATH = $(VERSION_FOLDER_PATH)/Resources
PRODUCT_NAME = $(PROJECT_NAME)
CLANG_LINK_OBJC_RUNTIME = NO
DEFINES_MODULE = YES
MODULEMAP_FILE = Source/$(PRODUCT_NAME).modulemap
PRODUCT_MODULE_NAME = $(PRODUCT_NAME)

// These settings prevent an obscure crash with ad-hoc distributed executables that use static libraries (pseudo-frameworks are really static libs)
// See http://stackoverflow.com/questions/10300800/ios-app-with-static-lib-always-crashes-on-launch-of-ad-hoc-archive-build-cant-r for more details.
DEAD_CODE_STRIPPING = NO
STRIP_STYLE = debugging
