// --------------------------------------------------------------------------
//  Copyright 2014 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Compiler Version
// --------------------------------------------------------------------------

GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_C_LANGUAGE_STANDARD = gnu99

// --------------------------------------------------------------------------
// Objective C stuff
// --------------------------------------------------------------------------

CLANG_ENABLE_OBJC_ARC = YES
GCC_ENABLE_OBJC_EXCEPTIONS = YES

// --------------------------------------------------------------------------
// Resources
// --------------------------------------------------------------------------

INFOPLIST_FILE = Resources/Info.plist

// --------------------------------------------------------------------------
// Symbol Exports
// --------------------------------------------------------------------------

KEEP_PRIVATE_EXTERNS = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

SKIP_INSTALL = YES
PRODUCT_NAME = $(TARGET_NAME)

// --------------------------------------------------------------------------
// Code Signing
// --------------------------------------------------------------------------

//OTHER_CODE_SIGN_FLAGS = $(inherited) --timestamp=none
// enable this if you're trying to build offline and the timestamp is failing

// --------------------------------------------------------------------------
// Search Paths
// --------------------------------------------------------------------------

ALWAYS_SEARCH_USER_PATHS = NO

// --------------------------------------------------------------------------
// By default, use standard pattern for prefix
// --------------------------------------------------------------------------

GCC_PREFIX_HEADER = Source/Prefix/$(PROJECT_NAME)$(CONFIGURATION).pch
GCC_PRECOMPILE_PREFIX_HEADER = YES
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = YES
HEADER_SEARCH_PATHS = "$(TARGET_BUILD_DIR)/include" "$(PROJECT_TEMP_DIR)/../UninstalledProducts/include"

// --------------------------------------------------------------------------
// Standard Warnings
// --------------------------------------------------------------------------

WARNING_CFLAGS = -Wall -Wextra -Wno-unused-macros -Wno-unused-parameter
GCC_TREAT_WARNINGS_AS_ERRORS = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES

GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
CLANG_WARN_EMPTY_BODY = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
GCC_WARN_SHADOW = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = NO
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_SIGN_COMPARE = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES

CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES
CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS = NO
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_OBJC_RECEIVER_WEAK = YES
GCC_WARN_STRICT_SELECTOR_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES

// --------------------------------------------------------------------------
// Custom settings
// --------------------------------------------------------------------------

ECLOGGING_SCRIPTS_PATH=$(BUILT_PRODUCTS_DIR)/ECLogging.framework/Scripts

// --------------------------------------------------------------------------
// Unit Testing
// --------------------------------------------------------------------------

/// Since all of the targets link against SenTestKit, we need to be able to find it.
/// It's in a different location on the Mac and iOS, but luckily our standard xcconfig
/// files define a setting UNIT_TEST_FRAMEWORK_PATH with its location:

FRAMEWORK_SEARCH_PATHS = "$(UNIT_TEST_FRAMEWORK_PATH)"
