ZTRACE_ECSTATICLIBRARY = 27
ZTRACE_PATH = $(inherited)_27

// --------------------------------------------------------------------------
//  Copyright 2017 Elegant Chaos Limited. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

// Defaults for standard definitions needed to link a static library on the mac

PRODUCT_NAME = $(PROJECT_NAME)
PUBLIC_HEADERS_FOLDER_PATH = $(PRODUCT_NAME)
MACH_O_TYPE = staticlib
DEFINES_MODULE = YES
MODULEMAP_FILE = Source/$(PRODUCT_NAME).modulemap
PRODUCT_MODULE_NAME = $(PRODUCT_NAME)
