// --------------------------------------------------------------------------
//  Copyright 2014 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

// Contains standard definitions needed to link a unit test target

RUN_CLANG_STATIC_ANALYZER = YES
WRAPPER_EXTENSION = xctest
PRODUCT_NAME = $(TARGET_NAME)
OTHER_LDFLAGS = $(inherited) -ObjC
ENABLE_TESTABILITY = YES
