ZTRACE_ECUNITTESTS = 29
ZTRACE_PATH = $(inherited)_29

// --------------------------------------------------------------------------
//  Copyright 2017 Elegant Chaos Limited. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

// Contains standard definitions needed to link a unit test target

WRAPPER_EXTENSION = xctest
PRODUCT_NAME = $(TARGET_NAME)
OTHER_LDFLAGS = $(inherited) -ObjC
ENABLE_TESTABILITY = YES
GCC_PREFIX_HEADER = Tests/$(TARGET_NAME).pch

// --------------------------------------------------------------------------
// Swift
// --------------------------------------------------------------------------

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES;
