// --------------------------------------------------------------------------
//  Copyright 2012 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

/// Standard xcconfig files.
/// The use of a relative path here relies on ECConfig being in a known location. See <ImportNote> in the documentation for more details.

#include "../ECConfig/Source/Configuration/ECIOSRelease.xcconfig"
#include "../ECConfig/Source/Configuration/ECPseudoFramework.xcconfig"
