ZTRACE_MACTESTSSHARED = 66
ZTRACE_PATH = $(inherited)_66

// --------------------------------------------------------------------------
//  Copyright 2017 Elegant Chaos Limited. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

#include "TestsShared.xcconfig"

GCC_PREFIX_HEADER = Source/Prefix/MacTests.pch

EMBEDDED_CONTENT_CONTAINS_SWIFT = YES
