ZTRACE_MACTESTSRELEASE = 46
ZTRACE_PATH = $(inherited)_46

// --------------------------------------------------------------------------
//  Copyright 2017 Elegant Chaos Limited. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

/// Standard xcconfig files.

#include "ECMacRelease.xcconfig"
#include "MacTestsShared.xcconfig"
