<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InstallMenu</key>
	<true/>
	<key>Channels</key>
	<dict>
		<key>Assertion</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Handlers</key>
			<array>
				<string>NSLog</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
