// --------------------------------------------------------------------------
//  Copyright 2013 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

/// Standard xcconfig files.
/// The use of a relative path here relies on ECLogging being in a known location. See <ImportNote> in the documentation for more details.

#include "../ECLogging/Source/Configuration/ECMacDebug.xcconfig"
#include "../ECLogging/Source/Configuration/ECUnitTests.xcconfig"
