ZTRACE_ECLOGGINGMACTESTAPPSHARED = 82
ZTRACE_PATH = $(inherited)_82

// --------------------------------------------------------------------------
//  Copyright 2017 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

#include "Source/Configuration/ECMacApplication.xcconfig"

GCC_PREFIX_HEADER = Tests/Application/Mac/ECLoggingMacTestApp.pch
INFOPLIST_FILE = Tests/Application/Mac/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.elegantchaos.ECLoggingMacTestApp
