ZTRACE_ECLOGGINGIOSTESTAPPRELEASE = 81
ZTRACE_PATH = $(inherited)_81

// --------------------------------------------------------------------------
//  Copyright 2017 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

#include "Source/Configuration/ECIOSRelease.xcconfig"
#include "ECLoggingIOSTestAppShared.xcconfig"

