// --------------------------------------------------------------------------
//  Copyright 2017 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

#include "Source/Configuration/ECIOSApplication.xcconfig"

GCC_PREFIX_HEADER = Tests/Application/IOS/ECLoggingIOSTestApp.pch
INFOPLIST_FILE = Tests/Application/IOS/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.elegantchaos.ECLoggingIOSTestApp
