// --------------------------------------------------------------------------
//! Standard Elegant Chaos debug configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------

#include "ECLoggingDebugSettings.xcconfig"
#include "ECIOSSharedSettings.xcconfig"


